*~
*.swp
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log*
package-lock.json
lib/
dist/
es/
build/
coverage/
node_modules/
examples/test
.idea/
.vscode/
.history/
packages/**/lib/
packages/**/dist/
packages/**/build/
packages/**/coverage/
packages/**/node_modules/
